doctype
html
	head
		script: include ./gss_config.json
		script(src="bower_components/gss/dist/gss.js")
		link(href='structure.gss', rel='stylesheet', type='text/gss')
	body
		#background
		#profile
		#cover
		#avatar

